html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    border:0;
    font:inherit;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}
    
html, body {background: #fffbe0; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #bfd4ff;}
    
.clear {clear: both;}

p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #bfd4ff;
}

#CV {
    width: 85%;
    max-width: 900px;
    background: #f4c4ed;
    margin: 30px;
}

.mainDetails {
    padding: ;
    border-bottom: ;
    background: ;
}

#name h1 {
    font-size: 2.5em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -6px;
}

#name h2 {
    font-size: 2em;
    margin-left: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#mainArea {
	padding: 0 40px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 10%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#name {
    float: left;
}

#contactDetails {
    float: right;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #0B132B;
}

#contactDetails ul li a, a[href^=tel] {
	color: #0B132B; 
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover { 
	color: #6FFFE9;
}


#mainArea {
	padding: 0 40px;
}

#contactDetails {
    float: ;
}

#headshot img {
	width: 10%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

section {
    border-top: ;
    padding: ;
}

.sectionTitle {
    float: ;
    width: ;
}

.sectionContent {
    font-family: ;
    font-style: ;
    font-size: ;
    color: ;
}

.sectionTitle img {
    width: ;
}

